= semantic_nested_form_for @visit do |f|
  = f.inputs do
    = f.input :practice, :include_blank => false
    = f.input :date
    
    = f.fields_for :animals do |animal| 
      = animal.label :name, "Naam dier"
      = animal.text_field :name
      = animal.label :specie, "Diersoort"
      = animal.select :specie, options_for_select([ "Hond", "Kat", "Konijn", "Cavia", "Fret", "Anders"])
      = animal.link_to_remove "Verwijder dier" 
     
    %p 
    = f.link_to_add "Add an animal", :animals 
  
  = f.actions 
  