= f.label :street, "Straatnaam"
= f.text_field :street
%br
= f.label :street_number, "Huisnummer"
= f.text_field :street_number
%br
= f.label :zip_code, "Postcode"
= f.text_field :zip_code
%br
= f.label :town, "Woonplaats"
= f.text_field :town