%p.fields
  = f.label :name, "Naam dier"
  = f.text_field :name
  = f.label :specie, "Diersoort"
  = f.select :specie, options_for_select([ "Hond", "Kat", "Konijn", "Cavia", "Fret", "Anders"])
  = link_to_remove_fields "Verwijder", f
  
  
  
  