= form_for @practice do |f|
  = f.error_messages
  %p
    = f.label :name, "Naam Praktijk"
    %br
    = f.text_field :name
  %strong Adres: 
  %br   
  = f.fields_for :address do |address|
    = render 'address_fields', :f => address
    
  = f.fields_for :visits do |visit|
    = render 'visit_fields', :f => visit
  = link_to_add_fields "Voeg bezoek toe", f, :visits
  %p= f.submit



  