- title "Onderzoek"
%p
  %strong Naam onderzoek:
  = @activity.name
  %br
  %strong Prijs
  = @activity.price
  %br
  %br
  
%p
  = link_to "Edit", edit_activity_path(@activity)
  = link_to "Destroy", @activity, :confirm => 'Are you sure?', :method => :delete
  = link_to "View All", activities_path